@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");


.container {
        display: grid;
        grid-template-areas:
          "header header header"
          "filter filter filter"
          "products products products"
          "pages pages pages"
          "footer footer footer";
      }

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: header;
    justify-content: space-between;
    background-color: #008cba;
    padding-left: 1rem;
    padding-right: 1rem ;
       /* width: 100%;
        background-color: #008cba;
        text-align: center;
        color: aliceblue;*/
      }
.logo img, .burger-icon{
        max-width:50px;
    }
.filter{
    grid-area: filter;
    flex-direction: column;
    background-color: lightgray;
    
}
.options{
    background-color: aliceblue;
    margin-bottom: 8px;
}
.options p, .options img{
    margin: 8px;
}
.icon{
    max-width: 22px;
    margin: 1%;
}
.products {
        grid-area: products;
        margin-top: 1rem;
      }
button{
    background-color: #008cba;
}
.product img{
    width: 90%;
    height: 90%;
    object-fit: fill;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: lightgray;
   
}
.displayNone {
    display: none;
}
.pages{
    grid-area: pages;
}
.pages p{
    border: solid 1px black;
    padding: 2%;
}
.footer {
        background-color: #008cba;
        grid-area: footer;
        flex-direction: column;
        text-align: center;
      }
.social{
    padding: 3%;
}
i{
    margin: 5px;
}
.footer p{
    margin-top: 0;
}
 @media (min-width: 576px){

    .container {
        display: grid;
        grid-template-areas:
         "header filter filter filter filter" 
         "nav products products products products"
         "nav products products products products"
         "nav products products products products"
         "footer pages pages pages pages";
         grid-template-columns: repeat(4, 1fr);
      }
      .displayNone{
        display: block;
      }
      .header{
        height: 100%;
      }
      .nav{
        grid-area: nav;
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color: #008cba;
        height: 100%;
      }
    .products{
        flex-wrap: wrap;
        /*display: grid;
        gap: 10px 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, 500px);
        padding: 50px; */
    }
    .product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
        background-color: lightgrey;
       
    }
    .footer{
        height: 100%;
        background-color: #036281;
    }
    .options{
        width: 80%;
        justify-content: space-between;
    }
}
   